*{
    background-color: black;
    color: white;
    
}
.headone{
    font-size: 50px;
    text-align: center;
}
.sect-two{
    display:flex;
    margin: 50px; 
    justify-content: space-between;
    
    font-size: 25px;
    padding: 30px;
}

.buttons{
    display:flex;
    justify-content: space-between;
    margin-left: 10px;
    padding: 20px;
    margin: 0 auto;

}
button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: purple;
    border: none;
  }
  button:hover {
    background: blue;
  }

  .active {
    background-color: red;
    
  }
footer{
    text-align: center;
}
